/* ESQUELETO PRINCIPAL Y ESTILOS GENERALES*/
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #45d9af;
    padding: 10px 0;
    color: white;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 140px;
    margin-right: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

nav a:hover {
    color: #1b1b17;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: static;
    bottom: 0;
    width: 100%;
}

/* POPUP LOGIN/REGISTRO */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    overflow: scroll;
    overflow-x: hidden;
}

.popup-login {
    background-color: #fff;
    margin: 1% auto;
    padding: 15px;
    width: 80%;
    max-width: 400px;
    position: relative;
}

.cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
}

.btn-login {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px;
    background-color: #45d9af;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Estilos de los mensajes de error/exito */
.mensaje {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ff4d4d;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    z-index: 9999;
}

.mensaje-exito{
    background-color: #4d4dff;
}

/* Estilos para los anuncios y todos sus elementos */
#anuncios {
    margin: 20px;
    padding: 20px;
    background-color: #f0e9e9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.anuncios-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    place-content: center;
}

.anuncio {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    border-radius: 8px;
    transition: background-color 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    line-height: 2px;
    padding: 15px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}

.anuncio:hover {
    background-color: #f2f2f2;
}

.anuncio img {
    max-width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 10px;
}

.anuncio h3 {
    margin-top: 10px;
    font-size: 1.5em; 
    color: #333; 
}

.anuncio p {
    color: #666; 
}

.anuncio p:last-child {
    margin-bottom: 10px;
}

/* Estilos adicionales para resaltar el precio y la fecha */
.anuncio .price {
    font-weight: bold;
    color: #37b38f; 
}

.anuncio .date {
    font-style: italic;
    color: #888; 
}

/* Estilos para la paginación */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.pagination a {
    padding: 8px 12px;
    margin: 0 5px;
    text-decoration: none;
    background-color: #45d9af;
    color: #fff;
    border-radius: 4px;
}

.pagination a:hover {
    background-color: #37b38f;
}

/* Contenedor de acciones */
.actions {
    display: flex;
    gap: 10px; 
    font-size: 20px;
}

/* Botón de publicar */
.modern-button {
    background-color: #45d9af;
    color: #ffffff;
    border: 1px #45d9af solid;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modern-button:hover {
    background-color: #2f8e75;
}

/* Estilos para el formulario de búsqueda */
#form-buscar {
    display: flex;
    margin-bottom: 5px;
    flex-direction: row;
    align-items: flex-start; 
}

#form-buscar input {
    flex: 1; 
    margin-right: 10px; 
    border-radius: 4px;
}

#form-buscar button {
    font-weight: bold;
    background-color: #5758586c;
    border-radius: 4px;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

#form-buscar button:hover {
    background-color: #349aa0;
    color: #1b1b17;
}

/* Estilo para el botón de modo oscuro */
.dark-mode-container{
    position: absolute;
    top: 0;
    right: 0;
}

.dark-mode-container button{
    font-size: 22px;
    border: none;
    cursor: pointer;
    background-color: none;
}

.dark-mode-container button:hover{
    background: none;
}

/* Estilos generales para el modo oscuro */
.dark-mode {
    background-color: #1b1b17;
    color: #ffffff;
}

/* Estilos para el header */
.dark-mode header {
    background-color: #333;
}

/* Estilos para la navegación */
.dark-mode nav {
    background-color: #333;
}

.dark-mode nav a {
    color: #ffffff;
}

.dark-mode nav a:hover {
    color: #45d9af;
}

/* Estilos para el footer */
.dark-mode footer {
    background-color: #2e2e2c;
}

/* Estilos para los anuncios y sus elementos */
.dark-mode #anuncios {
    background-color: #1b1b17;
}

.dark-mode .anuncio {
    background-color: #2f2f2f;
}

.dark-mode .anuncio:hover {
    background-color: #3f3f3f;
}

.dark-mode .anuncio h3 {
    color: #ffffff;
}

.dark-mode .anuncio p {
    color: #cccccc;
}

.dark-mode .anuncio .price {
    color: #45d9af;
}

.dark-mode .anuncio .date {
    color: #999999;
}

/* Estilos adicionales para el formulario de búsqueda en modo oscuro */
.dark-mode #form-buscar input {
    background-color: #2f2f2f;
    color: #ffffff;
}

.dark-mode #form-buscar button {
    background-color: #5758586c;
    color: white;
}

.dark-mode #form-buscar button:hover {
    background-color: #349aa0;
    color: #1b1b17;
}

/* Estilos para botón modo oscuro en modo oscuro */
#dark-mode-button {
    background: none;
}

/* Estilos para el formulario de inicio de sesión en modo oscuro */
.dark-mode .popup-login,
.dark-mode .popup-registro {
    background-color: #2f2f2f;
    color: #ffffff;
}

.dark-mode label,
.dark-mode input {
    color: #ffffff;
}

.dark-mode input {
    background-color: #454545;
    border: 1px solid #555;
}

.dark-mode .btn-login button {
    background-color: #5758586c;
    color: white;
}

.dark-mode .btn-login button:hover {
    background-color: #349aa0;
    color: #1b1b17;
}















